@implements IDialogContentComponent<MemberM>
@using BatmanCoopShared.Model.MasterDataModel


<FluentDialogHeader ShowDismiss="true">
    <div class="d-flex flex-column">
        <FluentLabel Typo="Typography.PaneHeader">
            Update Member
        </FluentLabel>
    </div>
</FluentDialogHeader>

<FluentDialogBody>

    <EditForm Model="@Content" FormName="editmember">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="form-label">Member No:</label>
                    <FluentTextField @bind-Value="Content.MemberNo" Class="form-control" />
                    <ValidationMessage For="@(() => Content.MemberNo)" />
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <label class="form-label">Last Name:</label>
                    <FluentTextField @bind-Value="Content.LastName" Class="form-control" />
                    <ValidationMessage For="@(() => Content.LastName)" />
                </div>
            </div>

            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <label class="form-label">First Name:</label>
                    <FluentTextField @bind-Value="Content.FirstName" Class="form-control" />
                    <ValidationMessage For="@(() => Content.FirstName)" />
                </div>
            </div>

            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <label class="form-label">Middle Name:</label>
                    <FluentTextField @bind-Value="Content.MiddleName" Class="form-control" />
                    <ValidationMessage For="@(() => Content.MiddleName)" />
                </div>
            </div>
        </div>
        <br />       
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="form-label">Full Address:</label>
                    <FluentTextField @bind-Value="Content.FullAddress" Class="form-control" />
                    <ValidationMessage For="@(() => Content.FullAddress)" />
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <label class="form-label">Birth Date:</label>
                    <FluentDatePicker @bind-Value="@Content.BirthDate" class="form-control" ReadOnly="true" />
                    <ValidationMessage For="@(() => Content.LastName)" />
                </div>
            </div>

            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <label class="form-label">Age:</label>
                    <FluentNumberField @bind-Value="Content.Age" Class="form-control" ReadOnly="true" />
                    <ValidationMessage For="@(() => Content.Age)" />
                </div>
            </div>

            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <label class="form-label">Civil Status:</label>
                    <FluentSelect TOption="CivilStatus"
                                  Items="@CivilStatus_List"
                                  Placeholder="Select civil status"
                                  OptionValue="@(p => p.Id.ToString())"
                                  OptionText="@(p => p.Description)"
                                  @bind-Value="@Content.CivilStatus"
                                  @bind-SelectedOption="@SelectCivil"
                                  Width="200px"
                                  Class="form-control" />
                    <ValidationMessage For="@(() => Content.CivilStatus)" />
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label class="form-label">Contact No:</label>
                    <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Bottom">
                        <label class="form-label">+63</label>
                        <FluentTextField @bind-Value="Content.Contact" Class="form-control" Maxlength="10" />
                    </FluentStack>
                    <ValidationMessage For="@(() => Content.Contact)" />
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label class="form-label">Bank Number:</label>
                    <FluentTextField @bind-Value="Content.Bank_Number" Class="form-control" />
                    <ValidationMessage For="@(() => Content.Bank_Number)" />
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="form-label">Referal:</label>
                    <FluentTextField @bind-Value="Referal_Mem" Class="form-control" />
                </div>
            </div>
        </div>

    </EditForm>
</FluentDialogBody>

<FluentDialogFooter>
    <FluentStack Orientation="Orientation.Horizontal" HorizontalAlignment="HorizontalAlignment.End">
        <FluentButton IconStart="@(new Icons.Regular.Size16.Save())" Appearance="Appearance.Accent" OnClick="OnUpdateObj">
            Update
        </FluentButton>
        <FluentButton IconStart="@(new Icons.Regular.Size16.LockClosed())" Appearance="Appearance.Accent" OnClick="OnCloseDialog">
            Cancel
        </FluentButton>
    </FluentStack>
</FluentDialogFooter>


